<div>
  <div class="card">
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <InputText id="inputtext" type="text" v-model="value1" />
          <label for="inputtext">UserName</label>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <InputText id="inputtext" type="text" v-model="value1" />
          <label for="inputtext">Email</label>
        </span>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <Password id="password" v-model="value11" />
          <label for="password">Password</label>
        </span>
      </div>
    </div>
  </div>
</div>
