
<section class="components-page">
  <h1>components-page Component</h1>
  <form>
    <div class="mb-3">
      <label for="pageName" class="form-label">Page Name</label>
      <input type="text" class="form-control" id="pageName" aria-describedby="pageName">      
    </div>
    <div class="mb-3">      
      <Checkbox v-model="checked" :binary="true" />
      <label for="checkboxActive" class="form-label">Active</label>
    </div>
    <div class="mb-3">          
      <Checkbox v-model="checked" :binary="false" />
      <label for="checkboxDeleted" class="form-label">Deleted</label>
    </div>
    <div class="mb-3">
      <label for="permGroup" class="form-label">Permission Group</label>
      <input type="text" class="form-control" id="permGroup" aria-describedby="permGroup">      
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</section>

