<section class="components-page">
  <h1>Page Constraints Declaration</h1>
  <form>
    <div class="forms-control">
      <label for="pageName" class="form-label">Page Name</label>
      <input
        type="text"
        class="form-control-file"
        id="pageName"
        aria-describedby="pageName"
      />
    </div>
    <div class="forms-control">
      <label for="pageName" class="form-label">Effive Datee</label>
      <input
        class="form-control-file"
        type="text"
        id="pageName"
        aria-describedby="pageName"
      />
    </div>
    <div class="forms-control">
      <label for="pageName" class="form-label">Expiration Date</label>
      <input
        type="text"
        class="form-control-file"
        id="pageName"
        aria-describedby="pageName"
      />
    </div>

    <div class="form-check form-check-inline">
      <Checkbox v-model="visible" :binary="false" class="form-check-input" />
      <label class="form-check-label" for="inlineCheckbox1">Visible</label>
    </div>

    <div class="form-check form-check-inline">
      <Checkbox v-model="enabled" :binary="false" class="form-check-input" />
      <label class="form-check-label" for="inlineCheckbox1">Enabled</label>
    </div>

    <div class="forms-control">
      <label for="permGroup">Permission Group</label>
      <input type="text" id="permGroup" aria-describedby="permGroup" />
    </div>
    <div class="forms-control">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</section>
